/*一、mnu.css*/
@font-face {
  font-family:'LucidaGrande';
  src: url('/static/fonts/LucidaGrande.eot');
  src: url('/static/fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/LucidaGrande.ttf') format('trueType'),
      url('/static/fonts/LucidaGrande.woff') format('woff'),
      url('/static/fonts/LucidaGrande.svg#fontawesomeregular') format('svg');
}

@font-face {
    font-family:'LucidaGrandeBold';
    src: url('/static/fonts/LucidaGrandeBold.eot');
    src: url('/static/fonts/LucidaGrandeBold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/LucidaGrandeBold.ttf') format('trueType'),
        url('/static/fonts/LucidaGrandeBold.woff') format('woff'),
        url('/static/fonts/LucidaGrandeBold.svg#fontawesomeregular') format('svg');
}

/*!*快捷样式*!*/
.hide{
  display: none!important;
}

.float-right{
  float: right!important;
}

.text-right{
  text-align: right!important;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

* {
  letter-spacing: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #353536;
}

li{
  list-style: none;
}

body{
  font-size: 16px;
  font-family: LucidaGrande;
  color: #353536;
  background-color: #FFF;
  overflow: hidden;

  .sidebar-close .main-sidebar{
    width: 0;
  }

  .sidebar-close .content{
    margin-left: 0;
    width: 97vw;
  }
}

.main-sidebar{
  width: 14.32vw;
  height: 100vh;
  position: absolute;
  top: 70px;
  left: 0;
  box-shadow: 6px 2px 15px 0 rgba(105,105,105,0.11);
  overflow: auto;
  transition: all 0.5s ease-in-out;
}

.content{
  margin-left: 14.32vw;
  width: 82.18vw;
  height: 90vh;
  padding: 20px 20px 20px 25px;
  background-color: #F7F8FA;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}

.main-header{
  width: 100vw;
  height: 70px;
  font-size: 14px;
  box-shadow: 6px 2px 15px 0 rgba(105,105,105,0.11);

  .logo,
  .user-info,
  .login-info{
    line-height: 70px;
  }

  .logo{
    display: inline-block;
    padding: 0 1vw;
    width: 5.5vw;
    font-size: 20px;
    font-family: LucidaGrandeBold;
    font-weight:bold;
  }

  .menu-icon{
    display: inline-block;
    width: 45px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
  }

  .menu-icon:hover{
    opacity: 0.6;
    cursor: pointer;
  }

  .el-breadcrumb{
    margin-left: 3.54vw;
    display: inline-block;

    .el-breadcrumb__item .el-breadcrumb__inner a{
      color: #606266;
    }
  }

  .user-info{
    margin-right: 1.94vw;
  }

  .login-info{
    margin-right: 2.85vw;

    a{
      color: #49559A;
    }
  }
}



.main-sidebar .sidebar-menu {
  padding: 20px 1.25vw;
  overflow: auto;

  .treeview {
    margin: 5px 0;

    p {
      margin: 10px 0;

      .menu-icon {
        background: transparent;
        width: 20px;
        height: 20px;
        margin-bottom: -4px;
      }

      span {
        margin-left: 3px;
        font-size: 16px;
        font-family: LucidaGrandeBold;
        font-weight: bold;
      }
    }
  }

  ul .treeview-item {
    margin: 3px 0;
    font-size: 13px;
    font-family: LucidaGrande;
    cursor: pointer;

    a {
      display: inline-block;
      width: 9vw;
      padding-left: 28px;
      line-height: 45px;
    }

    &:active,
    :hover,
    .active {
      background-color: #4C56C0;
      border-radius: 24px;

      span {
        background-color: transparent;
        filter: brightness(10);
      }
    }
  }
}

@media (max-width:768px) {
  .main-sidebar .sidebar-menu>li a span{
    display: none;
  }
}


/*!*二、common*!*/
/*1、filter-row*/
.filter-row {
  background: transparent;
  min-height: 68px;

  .filter-item {
    margin-bottom: 24px;
    margin-right: 24px;
    display: inline-block;

    &.el-button:not(.popover-btn):not(.is-circle){
    width: 113px;
    position: relative;
    border-radius: 24px;
    height: 47px;
    font-size: 16px;
    font-family: LucidaGrandeBold;
    box-sizing: border-box;
    border: none;
  }
  }

  &.filter-many-item {
    .filter-item {
      &:not(:first-child) .el-input__inner,
      &:not(:last-child) .el-input__inner{
        width: 210px;
      }

      &:not(:last-child){
        margin-right: 12px;
      }

      &:last-child{
        margin-right: 0;
      }

      &.daily .el-input__inner {
        width: 130px;
      }
    }

    .el-button+.el-button {
      margin-left: 0;
    }

    .el-date-editor--datetimerange {
      .el-input__inner{
        position: relative;
        top: 5px;
        width: 380px;
      }

      :not(i){
        position: relative;
        top: -5px;
        left: 5px;
      }
    }
  }

  &:not(.filter-many-item) .el-input{
    width: 240px;
  }

  .el-input__inner{
    box-shadow: 0 2px 12px 0 rgba(105,105,105,0.11);
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #353536;
  }

  .el-popover .el-select:not(.el-select--mini) {
    .el-input__suffix{
      margin: 8px 0;
      width: 40px;
      height: 24px;
    }

    .el-icon-arrow-up:before{
      top: -8px;
    }
  }

  .el-select {
    .el-input__inner{
      width: 240px;
      padding-right: 50px;
    }

    &:not(.el-select--mini) {
      .el-input__suffix {
        height: 34px;
      }

      .el-select-dropdown__item{
        height: 50px;
        line-height: 50px;
        font-size: 16px;
      }

      .el-icon-arrow-up:before {
        position: relative;
        top: -3px;
      }
    }
  }

  .el-cascader {
    .el-cascader__tags{
      width: 190px;
    }

    &:not(.el-cascader--mini) .el-input__suffix{
      height: 34px;
    }
  }

  .el-date-editor--datetimerange{
    &.el-input__inner{
      width: 390px;
    }

    i:last-child{
      position: relative;
      left: -3px;
    }

    .el-range-separator{
      line-height: 42px;
    }
  }

  .el-date-editor{
    .el-input__prefix{
      top: 11px;
      left: 15px;
    }

    &.check-error .el-icon-date:before{
      content: url("../../assets/images/common/calendar_icon_disable.svg");
    }

    .el-icon-date:before,
    .el-range__icon:before{
      content: url("../../assets/images/common/calendar_icon_default.svg");
      width: 25px;
      height: 26px;
    }

    .el-range-input,
    .el-range-separator{
      top: -5px;
      position: relative;
    }
  }

  .el-range-editor{
    &.el-input__inner {
      padding: 3px 0 3px 20px;
    }

    .el-range-input:first-child{
      margin-left: 4px;
    }

    .el-range__icon:before{
      top: 8px;
      position: relative;
    }
  }


  .el-button{
    &.is-circle{
      font-size: 16px;
      margin-left: 16px;
    }

    &.reset{
      &:active{
        background: #4C56C0;
        color: #FFF;
        border: none;
      }

      &:not(.popover-btn):not(.is-circle){
        width: 113px;
        border: 2px solid #4C56C0;
        color: #4C56C0;
        background-color: #FFF;
        margin-left: 4px;
        margin-right: 0;
      }
    }

    &.search{
      width: 172px;
      margin-left: 29px;

      i{
        position: relative;
        left: -4px;
      }

      &:active {
        background: #262F88;
      }
    }
  }

  .el-tag {
    margin-left: 5px;
  }
}

/*2、operaroe_row*/
.operate-row{
  background: transparent;
  min-height: 68px;

  .operate-item{
    margin-bottom: 24px;
    margin-right: 24px;
    display: inline-block;
  }

  .title{
    position: relative;
    top: 12px;
    font-family: LucidaGrandeBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
  }

  .el-button {
    position: relative;
    float: right;
    right: -24px;
    box-sizing: border-box;
    width:172px;
    height:47px;
    border-radius:24px;
    font-family: LucidaGrandeBold;
    font-size: 16px;

    i{
      position: relative;
      left: -4px;
    }

    &:active{
      background: #262F88;
    }
  }
}

/*3、badge-row*/
.badge-row{
  background-color: #F7F8FA;
  width: 100%;

  .el-badge{
    box-sizing: border-box;
    min-width: 200px;
    height: 110px;
    background-color: #FFF;
    box-shadow: 0 2px 12px 0 rgba(105,105,105,0.11);
    border-radius: 6px;
    padding: 26px 30px;
    margin: 0 32px 24px 0;

    &:last-child{
      margin-right: 0;
    }

    .badge-title{
      line-height: 28px;
      color: #49559A;
      font-size: 24px;
      font-weight: bold;
      font-family: LucidaGrandeBold;
    }

    .badge-content{
      line-height: 17px;
      font-size: 14px;
      margin-top: 13px;
    }

    .can-link{
      cursor: pointer;

      .icon{
        position: absolute;
        right: 10%;
        top: 40%;
      }

      &:hover .badge,
      &:active .badge{
        color: #7D88FB;
      }
    }
  }
}

/*4、chart-row*/
.chart-row{
  box-shadow: 0 2px 12px 0 rgba(105,105,105,0.11);
  border-radius:6px;
  background-color: #FFF;
  margin-bottom: 24px;

  .el-radio{
    margin-top: 33px;
    margin-left: 33px;
    margin-right: 0;
  }

  .el-input{
    width: 245px;
    margin: 20px 35px 5px 0;
  }

  .el-input__inner{
    box-shadow: 0 2px 12px 0 rgba(105,105,105,0.11);
    border-radius: 25px;
    padding: 16px 30px;
  }

  .tooltip-html {
    width: 210px;
    height: 340px;
    font-size: 14px;
    color: #353536;
    background: #FFF;
    box-shadow: 0 2px 12px 0 rgba(105, 105, 105, 0.11);
    border-radius: 6px;

    .title {
      width: 100%;
      height: 44px;
      font-family: LucidaGrandeBold;
      font-weight: bold;
      line-height: 44px;
      text-align: center;
      border-bottom: 1px solid rgba(159, 167, 181, 0.413);
    }

    ul {
      padding: 10px 20px;

      li {
        height: 28px;
      }
    }

    span {
      &.item-name {
        display: inline-block;
        color: #585858;
        width: 70px;
        margin-right: 30px;
      }

      &.checked {
        color: #4C56C0
      }
    }
  }
}

/*5、table-row*/
.table-row{
  padding: 24px;
  background-color: #FFF;
  box-shadow: 0 2px 12px 0 rgba(105,105,105,0.11);
  border-radius:6px;

  .tbl-filterable {
    cursor: cell
  }

  .table thead{
    color: #353536;
  }

  .el-table{
    font-size: 16px;
    color: #585858;

    &.text-center th,
    &.text-center td{
      text-align: center;
    }

    tbody .el-tag{
      display: inline-block;
      width: 90px;
      font-size: 16px;
    }

    tr {
      height: 69px;

      &:hover>td,
      &:active>td{
        background-color: #E5F5FF;
      }

      td{
        border-bottom: 1px solid #C9C9C9;

        i{
          color: #65B3E7;
          font-weight: bold;
          cursor: pointer;

          &:not(.icon-small){
            min-width: 60px;
            font-size: 28px;
          }

          &:hover{
            color: #7D88FB;
            cursor: pointer;
          }

          &:active{
            color: #4C56C0;
          }
        }
      }
    }

    th{
      font-family: LucidaGrandeBold;
      font-weight: bold;
      line-height: 18px;
      color: #353536;

      .is-leaf{
        border-bottom: 1px solid #C9C9C9;
      }
    }
  }

  .el-dialog{
    border-radius: 6px;
    margin-top: 8vh!important;
    width: 92vw;
    max-height: 85vh;
    overflow-y: auto;

    .el-dialog__header {
      box-sizing: border-box;
      height: 62px;
      background-color: #4C56C0;
      line-height: 20px;
      text-align: center;
      font-weight: bold;

      .el-dialog__title{
        color: #FFF;
        font-size: 22px;
      }

      .el-dialog__headerbtn .el-dialog__close {
        color: #FFF;
      }
    }

    .el-dialog__body {
      padding: 40px 80px;
    }
  }

  .el-select:not(.el-select--mini){
    margin-bottom: 15px;
    border: none;

    .el-input__inner{
      box-sizing: border-box;
      width: 221px;
      height: 50px;
      box-shadow: 0 2px 12px 0 rgba(105,105,105,0.11);
      border-radius: 25px;
      padding: 16px 50px 16px 46px;
    }
  }

  .cell-click{
    .cell-click-a{
      cursor: pointer;
      color: #4C56C0;
      text-decoration: underline;
    }

    &:hover .cell-click-a,
    &:active .cell-click-a{
      color: #7D88FB;
    }
  }

  .el-pagination{
    margin-top: 25px;
    padding-left: 0;

    &.is-background .el-pager li:not(.disabled).active{
      background-color: #E5F5FF;
      color: #ABABAB;
    }
  }
}

@media (min-width:1280px) {
    .table-row .el-table .text-nowrap .cell {
        white-space: nowrap;
        overflow: visible;
    }
}

/*6、form*/
.form-inline-center{
  .el-form-item{
    width: 800px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
  }

  .el-form-item__label{
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
  }

  .el-form-item__content {
    display: inline-block;
  }

  .el-checkbox {
    display: block;
  }

  .el-input{
    width: 380px;
  }
}

.form {
  background-color: #FFF;
  padding: 40px 52px;
  margin-bottom: 24px;

  .el-form-item{
    margin-bottom: 30px;

    &.form-item-child{
      position: relative;
      margin-top: -38px;
    }

    .el-form-item__label{
      float: none;
      font-size: 16px;
      color: #353536;
      line-height: 18px;
    }

    .el-form-item__content{
      margin-top: 15px;
    }

    &.is-required:not(.is-no-asterisk) {
      .el-form-item__label-wrap>.el-form-item__label {
        &:before {
          content: '';
        }

        &:after {
          content: '*';
          color: #F56C6C;
          margin-right: 4px;
        }
      }

      &>.el-form-item__label {
        &:before {
          content: '';
        }

        &:after {
          content: '*';
          color: #F56C6C;
          margin-right: 4px;
        }
      }
    }
  }

  .display-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .el-form>.display-flex {
    justify-content: space-between;
  }

  .form-half-part {
    .el-input{
      width: 150px;
    }

    .form-half-part {
      &:nth-child(2) .el-input{
        margin-left: 16px;
      }

      &:last-child label{
        opacity: 0;
      }
    }
  }

  .el-select {
    &.el-select-dropdown__item{
      height: 42px;
      line-height: 42px;
      font-size: 14px;
    }

    .el-input__suffix {
      height: 25px;
      z-index: 10;
    }

    .el-icon-arrow-up:before {
      position: relative;
      top: -8px;
    }
  }

  .el-cascader {
    box-sizing: border-box;
    width: 240px;
    min-height: 42px;

    .el-input__suffix {
      height: 25px;
      z-index: 10;
    }

    .el-input__icon:before{
      position: relative;
      top: -8px;
    }

    .el-cascader__search-input {
      background: #F6F8FB;
      border-radius: 6px;
      border: none;
      caret-color: #409EFE;
      color: #353536;
    }
  }

  .el-input {
    box-sizing: border-box;
    width: 240px;
    min-height: 42px;

    &.el-input-group--append{
      width: 278px;
    }
  }

  .el-input-number {
    box-sizing: border-box;
    width: 240px;
    min-height: 42px;

    &>span{
      background-color: #EFF2F6;
    }
  }

  .el-input__inner{
    min-height: 42px!important;
    background: #F6F8FB;
    border-radius: 6px;
    border: none;
    caret-color: #409EFE;
    color: #353536;

    &[disabled='disabled']{
      background: #E9EEF5;
    }
  }

  textarea{
    background: #F6F8FB;
    border-radius: 6px;
    border: none;
    caret-color: #409EFE;
    color: #353536;
    font-size: 16px;
  }

  .el-radio{
    min-width: 85px;
  }

  .el-checkbox {
    width: 166px;
  }

  .radio-group .label{
    display: inline-block;
    width: 60px;
  }


  .el-input-group__append {
    border-radius: 0 6px 6px 0;
    height: 42px;
    background: #4C56C0;
    color: #FFF;
  }

  .el-input-group__prepend {
    border-radius: 6px 0 0 6px;
    height: 42px;
    background: #4C56C0;
    color: #FFF;
  }

  .tag-outer-select{
    width: 100%;
    margin-bottom: 2px;

    .el-select__tags{
      max-width: 100%!important;
    }

    .el-tag{
      margin: 0 14px 8px 0;
    }

    .el-input--suffix{
      visibility: hidden;
    }

    .el-select__input,
    .el-cascader__search-input{
      display: none;
    }
  }

  .tag-out-select-dropdown {
    display: none;
  }

  .multiple-select-count{
    position: absolute;
    z-index: 10;
    left: 16px;
    bottom: 0;
    width: 90px;
    background-color: #F6F8FB;

    &+.el-select .el-tag,
    &+.el-cascader .el-tag{
      display: none;
    }
  }

  .el-popover .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
    top: 7px;
  }

  .el-tag.el-tag--info {
    box-sizing: border-box;
    border-color: #CBD1DC;
    background-color: #F6F8FB;
    color: #353536;
    line-height: 30px;
    font-size: 14px;
    height: 36px;
    padding: 0 12px;

    .el-tag__close {
      right: -4px;
      background: transparent;
      color: #F14444;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .el-button{
    box-sizing: border-box;
    /*width: 93px;*/
    height: 39px;
    margin-left: 12px;
    background: rgba(255,255,255,1);
    border-radius: 24px;
    border: 2px solid rgba(76,86,192,1);
    color: #4C56C0;
    font-family: LucidaGrandeBold;
    font-weight: bold;
    line-height: 10px;
  }

  .operate-row .el-button{
    width: 172px;
    height: 47px;
    float: none;
    margin-top: 78px;
    margin-bottom: 32px;
    box-sizing: border-box;
    font-weight: bold;

    &.el-button--default{
      background: rgba(255,255,255,1);
      border-radius: 24px;
      border: 2px solid rgba(76,86,192,1);
      color: #4C56C0;

      &:active {
      background: #4C56C0;
      color: #FFF;
      border: none;
    }
    }

    &.is-plain{
      background: #F0F0FA;
      border: 2px solid rgba(76,86,192,0.2962);
      color: #4C56C0;

      &:active{
      background: #4C56C0;
      color: #FFF;
      border: none;
    }
    }

    &:not(:first-child){
      margin-left: 28px;
    }
  }
}

@media (min-width: 1280px) {
    .form .el-form>.display-flex{
      &>.form-half-part{
        width: 50%;
      }

      &>.form-quarter-part{
        width: 33.33%;
      }
    }
}

/*通用*/
.el-loading-mask{
  z-index: 200;
}

.el-date-editor .el-input__inner{
  padding: 16px 25px 16px 55px;
}

.el-select {
  &:not(.el-select--mini) .el-input__suffix {
    box-sizing: border-box;
    margin: 8px 0;
    width: 45px;
    border-left: 1px solid rgba(159,167,181,0.413);
  }

  .el-input .el-select__caret {
    color: #9FA7B5;
  }
}

.el-cascader {
  .el-input__suffix {
    box-sizing: border-box;
    margin: 8px 0;
    width: 45px;
    border-left: 1px solid rgba(159,167,181,0.413);
  }

  .el-cascader-node.in-active-path,
  .el-cascader-node.is-active,
  .el-cascader-node.is-selectable.in-checked-path {
    color: #4C56C0;
  }

  .el-input .el-input__icon{
    color: #9FA7B5;
  }
}

.el-button {
  &.el-button--primary {
    background-color: #4C56C0;
    color: #FFF;
    border: 2px solid #4C56C0;
  }

  &.is-disabled{
    background-color: #909399;
    border: 2px solid #909399;
  }

  &:not(.popover-btn):hover,
  &:not(.popover-btn):hover,
  &:not(.popover-btn):active,
  &:not(.popover-btn):active{
    background: #7D88FB!important;
    color: #FFF!important;
    border: 2px solid #7D88FB!important;
  }

  &.is-circle:hover,
  &.is-circle:hover,
  &.is-circle:active,
  &.is-circle:active{
    border: 1px solid #7D88FB!important;
  }

}

.el-radio {
  .el-radio__label,
  &.is-checked .el-radio__label,
  .el-checkbox__label,
  &.is-checked .el-checkbox__label{
    color: #353536;
    font-size: 16px;
  }

  &:hover,
  &:active{
    opacity: 0.6;
  }
}

.el-checkbox {
  .el-checkbox__input.is-checked+.el-checkbox__label,
  .el-checkbox__label{
    color: #353536;
    font-size: 16px;
  }

  &:hover,
  &:active{
    opacity: 0.6;
  }
}

.el-radio__input {
  &.is-checked .el-radio__inner {
    border: 2px solid #4C56C0;
    background: none;

    &::after {
      width: 11px;
      height: 11px;
      background-color: #4C56C0;
    }
  }

  .el-radio__inner {
    width: 19px;
    height: 19px;
  }
}

.el-checkbox__input {
  &.is-checked .el-checkbox__inner,
  &.is-indeterminate .el-checkbox__inner {
    background-color: #4C56C0;
    border-color: #2F367E;
  }

  .el-checkbox__inner{
    width: 19px;
    height: 19px;

    &::after {
      left: 6px;
      top: 2px;
      border-right-width: 2px;
      border-bottom-width: 2px;
    }
  }
}

.el-dialog {
  .el-dialog__header{
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
  }

  .el-dialog__body {
    padding: 20px;
    font-size: 16px;
    word-break: break-word;
  }

  .el-form-item__label{
    float: left;
    line-height: 70px;
    font-weight: bold;
  }

  .dialog-footer .el-button {
    width: 120px;
    margin-top: 0;
    margin-bottom: 12px;
    height: 42px;
    float: none;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 24px;
    font-family: LucidaGrandeBold;
    font-size: 16px;
  }
}

.el-message-box {
  .el-message-box__header{
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
  }

  .el-message-box__content{
    padding: 20px;
    font-size: 16px;
    word-break: break-word;
  }

  .el-button{
    width: 120px;
    margin-top: 0;
    margin-bottom: 12px;
    height: 42px;
    float: none;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 24px;
    font-family: LucidaGrandeBold;
    font-size: 16px;

    :not(:first-child) {
      margin-left: 20px;
    }
  }
}
